<div class="row align-items-center m-0" style="height: 100vh;">
  <div class="col-md-6 col-sm-10 mx-auto">

    <div id="broken" class="row align-items-center">
        <div id="brokenimg" class="col-6 text-right">
            <img class="" src="../../assets/broken.png" alt="">
        </div>
    
          <p id="brokendesc" class="col-6">
            <span class="qcq"> 404 </span>
            <br>
            <span class="desc"> Page not found ! </span>
          </p>

            <button style="border-radius: 25px" routerLink="/" class="col-10 mx-auto mt-3 mb-3 btn btn-outline-dark bg-dark text-light"> Retour la Page d'accueil </button>
          
    </div>


  </div>
</div>