<div class="content_parcours">
  <!--
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <img class="mr-3" src="../../assets/icons8/livre.png" width="30px" height="30px" alt="">
        <p class="parcour_title"> Diplômes & Formation </p>
      </div>
      <div class="event_container">
        <div class="event">
            <h5> D'avril 2019 à novembre 2019 </h5>
            <hr>

            <p> Formation en Developpement Web  <br>
                <small>
                    A la Sonatel Academy : Dakar Sénégal
                </small>
            </p>
        </div>

        <div class="event">
            <h5> D'octobre 2016 à juin 2018 </h5>
            <hr>
            <p> License 1 & License 2  <br>
                <small>
                  A la Bill Jobs Institute : Dakar Ouest Foire
                </small>
            </p>
        </div>

        <div class="event">
            <h5> Octobre 2015 </h5>
            <hr>
            <p> Baccalauriat <br>
                <small>
                    Lycée Seydina Limamou Laye : Guédiawaye
                </small>
            </p>
        </div>


      </div>
    </div>

    <div class="col-lg-6 text-right">
        <div id="row_exp" class="row border">
            <p class="parcour_title"> Experiences Professionelles </p>
          </div>

      <div class="row" style="margin-top: 50px;">
        <div class="col-12">
          <h5> Sonatel Academy <br>
            <small class="text-muted"> Webmaster </small> </h5>
          <p class="text-info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
  -->

 <div class="row col-sm-8 mx-auto mt-5 mb-5">

  <div id="const_img" class="col-md-6 col-sm-12">
    <img src="../../assets/const_img.png" alt="" width="100%">
  </div>

  <p id="const_para" class=" mt-5 mb-5 col-md-6 col-sm-12 text-muted">
    Cette section est en construction et sera bientot disponible
  </p>
 </div>
</div>
